@{
    ViewBag.Title = "Home";
}

<div class="k-form">
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Telefonnummer</th>
            <th>E-Mail</th>
        </tr>
        </thead>
    </table>
</div>