<div class="collapse k-wrap" id="k-form-wrap">
    <form id="addForm">
        <div class="form-group">
            <label for="addFirstName" class="control-label">Förnamn</label>
            <input type="text" class="form-control sharpr" id="addFirstName" name="Fname" placeholder="Förnamn" required/>
        </div>
        <div class="form-group">
            <label for="addLastName" class="control-label">Efternamn</label>
            <input type="text" class="form-control sharpr" id="addLastName" name="Lname" placeholder="Efternamn" required/>
        </div>
        <div class="form-group">
            <label for="addTelephone" class="control-label">Telefonnummer</label>
            <input type="tel" class="form-control sharpr" id="addTelephone" name="Telnum" placeholder="Telefonnummer" required/>
        </div>
        <div class="form-group">
            <label for="addEmail" class="control-label">E-mail adress</label>
            <input type="email" class="form-control sharpr" id="addEmail" name="Email" placeholder="E-Mail" required/>
        </div>
        <button class="btn btn-main sharpr" id="k-add" type="submit" value="Submit">Lägg till</button>
        <button class="btn btn-sec sharpr" data-toggle="collapse" href="#k-form-wrap">Avbryt</button>
    </form>
</div>